<div id="galleryBody">
<div class="container-fluid">
          <div class="container-fluid bg-alert pb-5 pt-5 bg-dark mt-3 mb-3" id="headerBar">
      <h2 class="text-center text-white">{{PSGallery.name}}</h2>
       </div>
      <div class="card-deck mt-3">
<div class="card cardStyle">
    <img class="card-img-top cardImg" src={{PSGallery.imageOne}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">{{PSGallery.titleOne}}</h5>
      <p class="card-text text-center">{{PSGallery.releaseYearOne}}</p>
    </div>
  </div>
<div class="card cardStyle">
    <img class="card-img-top cardImg" src={{PSGallery.imageTwo}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">{{PSGallery.titleTwo}}</h5>
      <p class="card-text text-center">{{PSGallery.releaseYearTwo}}</p>
    </div>
  </div>
<div class="card cardStyle">
    <img class="card-img-top cardImg" src={{PSGallery.imageThree}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">{{PSGallery.titleThree}}</h5>
      <p class="card-text text-center">{{PSGallery.releaseYearThree}}</p>
    </div>
  </div>
</div>
<div class="card-deck pt-5 pb-5">
<div class="card cardStyle">
    <img class="card-img-top cardImg" src={{PSGallery.imageFour}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">{{PSGallery.titleFour}}</h5>
      <p class="card-text text-center">{{PSGallery.releaseYearFour}}</p>
    </div>
  </div>
<div class="card cardStyle">
    <img class="card-img-top cardImg" src={{PSGallery.imageFive}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">{{PSGallery.titleFive}}</h5>
      <p class="card-text text-center">{{PSGallery.releaseYearFive}}</p>
    </div>
  </div>
<div class="card cardStyle">
    <img class="card-img-top cardImg" src={{PSGallery.imageSix}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">{{PSGallery.titleSix}}</h5>
      <p class="card-text text-center">{{PSGallery.releaseYearSix}}</p>
    </div>
  </div>
</div>
    </div>
       </div>