<div id="galleryBody">
<div class="container-fluid">
          <div class="container-fluid bg-alert pb-5 pt-5 bg-dark mt-3 mb-3" id="headerBar">
      <h2 class="text-center text-white">{{PSGallery.name}}</h2>
       </div>
      <div class="card-deck mt-3">
<div class="card cardStyle">
    <img class="card-img-top cardImg" src={{PSGallery.imageOne}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">{{PSGallery.titleOne}}</h5>
      <p class="card-text text-center">{{PSGallery.releaseYearOne}}</p>
      <div class="align-items-center d-flex justify-content-center">
        <a href='{{PSGallery.titleOne}}/edit'>
    <button type="button" class="btn btn-primary dbEdit pl-4 pr-4 ml-2 mr-2">Edit</button></a>
    <a href='{{PSGallery.titleOne}}/delete'
      onclick="return confirm('are you sure you want to delete this person?');">
        <button type="button" class="btn btn-danger dbDelete pl-4 pr-4 ml-2 mr-2">Delete</button></a>
      </div>
    </div>
  </div>
<div class="card cardStyle">
    <img class="card-img-top cardImg" src={{PSGallery.imageTwo}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">{{PSGallery.titleTwo}}</h5>
      <p class="card-text text-center">{{PSGallery.releaseYearTwo}}</p>
      <div class="align-items-center d-flex justify-content-center">
    <a href='{{PSGallery.titleTwo}}/edit'>
    <button type="button" class="btn btn-primary dbEdit pl-4 pr-4 ml-2 mr-2">Edit</button></a>
    <a href='{{PSGallery.titleTwo}}/delete'
      onclick="return confirm('are you sure you want to delete this person?');">
        <button type="button" class="btn btn-danger dbDelete pl-4 pr-4 ml-2 mr-2">Delete</button></a>
        </div>
    </div>
  </div>
<div class="card cardStyle">
    <img class="card-img-top cardImg" src={{PSGallery.imageThree}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">{{PSGallery.titleThree}}</h5>
      <p class="card-text text-center">{{PSGallery.releaseYearThree}}</p>
        <div class="align-items-center d-flex justify-content-center">
      <a href='/gallery/playstation/{{PSGallery.titleThree}}/edit'>
    <button type="button" class="btn btn-primary dbEdit pl-4 pr-4 ml-2 mr-2">Edit</button></a>
    <a href='/gallery/playstation/{{PSGallery.titleThree}}/delete'
      onclick="return confirm('are you sure you want to delete this person?');">
        <button type="button" class="btn btn-danger dbDelete pl-4 pr-4 ml-2 mr-2">Delete</button></a>
        </div>
    </div>
  </div>
</div>
<div class="card-deck pt-5 pb-5">
<div class="card cardStyle">
    <img class="card-img-top cardImg" src={{PSGallery.imageFour}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">{{PSGallery.titleFour}}</h5>
      <p class="card-text text-center">{{PSGallery.releaseYearFour}}</p>
       <div class="align-items-center d-flex justify-content-center">
      <a href='{{PSGallery.titleFour}}/edit'>
    <button type="button" class="btn btn-primary dbEdit pl-4 pr-4 ml-2 mr-2">Edit</button></a>
    <a href='/staff/{{PSGallery.titleFour}}/delete'
      onclick="return confirm('are you sure you want to delete this person?');">
        <button type="button" class="btn btn-danger dbDelete pl-4 pr-4 ml-2 mr-2">Delete</button></a>
        </div>
    </div>
  </div>
<div class="card cardStyle">
    <img class="card-img-top cardImg" src={{PSGallery.imageFive}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">{{PSGallery.titleFive}}</h5>
      <p class="card-text text-center">{{PSGallery.releaseYearFive}}</p>
            <div class="align-items-center d-flex justify-content-center">
      <a href='{{PSGallery.titleFive}}/edit'>
    <button type="button" class="btn btn-primary dbEdit pl-4 pr-4 ml-2 mr-2">Edit</button></a>
    <a href='/staff/{{PSGallery.titleFive}}/delete'
      onclick="return confirm('are you sure you want to delete this person?');">
        <button type="button" class="btn btn-danger dbDelete pl-4 pr-4 ml-2 mr-2">Delete</button></a>
        </div>
    </div>
  </div>
<div class="card cardStyle">
    <img class="card-img-top cardImg" src={{PSGallery.imageSix}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">{{PSGallery.titleSix}}</h5>
      <p class="card-text text-center">{{PSGallery.releaseYearSix}}</p>
           <div class="align-items-center d-flex justify-content-center">
      <a href='{{PSGallery.titleSix}}/edit'>
    <button type="button" class="btn btn-primary dbEdit pl-4 pr-4 ml-2 mr-2">Edit</button></a>
    <a href='/staff/{{PSGallery.titleSix}}/delete'
      onclick="return confirm('are you sure you want to delete this person?');">
        <button type="button" class="btn btn-danger dbDelete pl-4 pr-4 ml-2 mr-2">Delete</button></a>
        </div>
    </div>
  </div>
</div>
    </div>
       </div>